.Button {
  width: 50%;
  margin: auto;
  border: 1px solid #000;
  background-color: #000;
  color: #fff;
  border-radius: 10px;
  font-size: 24px;
  cursor: pointer;
}

.Button:hover {
  background-color: #272727;
}

.Button:focus {
  outline: 0;
}
