.Phone {
  display: flex;
  flex-direction: column;
  padding: 20px 0px;
  width: 100%;
  text-align: center;
  margin: 10px;
  border: 1px solid black;
  border-radius: 50px;
}

@media (min-width: 500px) {
  .Phone {
    width: 25%;
    text-align: center;
    margin: 10px 50px;
    border: 1px solid black;
    border-radius: 50px;
  }
}
